<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/prueba/resources/static/estilos.css">
    <title>Crear Usuario - FixEstibas</title>
</head>
<body>
<header>
    <h1>Registro de Desarme</h1>
    <nav>
        <ul>
            <li><a href="/prueba/resources/templates/index.html">Inicio</a></li>
            <li><a href="/prueba/resources/templates/estibas.html">Desarme de Estibas</a></li>
            <li><a href="/prueba/resources/templates/usuarios.html">Nuevo Usuario</a></li>
            <li><a href="">Cerrar sesión</a></li>
        </ul>
    </nav>
</header>

<div class="main-content">
    <h2>Seleccione el Tipo de Estiba para Desarme</h2>
    <div class="estibas-seleccion">
        <div class="estiba" onclick="seleccionarEstiba('Grande')">
            <img src="/prueba/resources/static/estiba.jpg" style="width: 200px;">
            <p>GRANDE 1.30m x 1.30m</p>
        </div>
        <div class="estiba" onclick="seleccionarEstiba('Mediana')">
            <img src="/prueba/resources/static/estiba.jpg" style="width: 200px;">
            <p>MEDIANA 1.05m x 1.05m</p>
        </div>
        <div class="estiba" onclick="seleccionarEstiba('Pequeña')">
            <img src="/prueba/resources/static/estiba.jpg" style="width: 200px;">
            <p>PEQUEÑA 90cm x 90cm</p>
        </div>
    </div>

    <div id="estibaForm">
        <h3 id="tipoEstibaSeleccionada">Tipo de Estiba: </h3>
    
        <form id="formEstiba">
            <label for="cantidadTablas">Cantidad de Tablas:</label>
            <input type="number" id="cantidadTablas" required>
    
            <label for="cantidadTacos">Cantidad de Tacos:</label>
            <input type="number" id="cantidadTacos" required>
    
            <button type="button" onclick="guardarEstiba()">Guardar</button>
        </form>
    </div>

<script src="/prueba/resources/static/app.js"></script>
</body>
</html>
