<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/prueba/resources/static/estilos.css">
    <title>Crear Usuario - FixEstibas</title>
</head>
<body>
<header>
    <h1>Registro de Nuevo Usuario</h1>
    <nav>
        <ul>
            <li><a href="/prueba/resources/templates/index.html">Inicio</a></li>
            <li><a href="/prueba/resources/templates/estibas.html">Desarme de Estibas</a></li>
            <li><a href="/prueba/resources/templates/usuarios.html">Nuevo Usuario</a></li>
            <li><a href="">Cerrar sesión</a></li>
        </ul>
    </nav>
</header>

<div class="user-registration">
    <h2>Crear Nuevo Usuario</h2>
    <form action="/crear-usuario" method="POST">
        <label for="nombre">Nombre Completo:</label>
        <input type="text" id="nombre" name="nombre" required><br>

        <label for="email">Correo Electrónico:</label>
        <input type="email" id="email" name="email" required><br>

        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required><br>

        <button type="submit">Registrar Usuario</button>
    </form>
</div>
<script src="/static/js/crearUsuario.js"></script> <!-- En la página de registro de usuario -->
</body>
</html>
