<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/estilos.css">
    <title>Desarme de Estibas - FixEstibas</title>
</head>
<body>
<header>
    <div class="logo">
        <img src="/logo.png" style="width: 100px; padding: 0"><h1> FixEstibas</h1>
    </div>

    <nav>
        <ul>
            <li><a href="/index">Inicio</a></li>
            <li><a href="/estibas">Desarme de Estibas</a></li>
            <li><a href="/arme">Arme de Estibas</a></li>
            <li><a href="/usuarios">Nuevo Usuario</a></li>
            <li><a href="#" onclick="confirmarCerrarSesion()">Cerrar sesión</a></li>
        </ul>
    </nav>
</header>

<div class="main-content">
    <h2>Seleccione el Tipo de Estiba para Desarme</h2>
    <label>Fecha:</label>
    <input type="date" id="fecha" required><br>
    <div class="estibas-seleccion">
        <div class="estiba" onclick="seleccionarEstiba('Grande')">
            <img src="/estiba.jpg" style="width: 200px;">
            <p>GRANDE 1.30m x 1.30m</p>
        </div>
        <div class="estiba" onclick="seleccionarEstiba('Mediana')">
            <img src="/estiba.jpg" style="width: 200px;">
            <p>MEDIANA 1.05m x 1.05m</p>
        </div>
        <div class="estiba" onclick="seleccionarEstiba('Pequeña')">
            <img src="/estiba.jpg" style="width: 200px;">
            <p>PEQUEÑA 90cm x 90cm</p>
        </div>
    </div>

    <form id="estibaForm" onsubmit="guardarEstiba(); return false;">
        <label id="tipoEstibaSeleccionada">Tipo de Estiba Seleccionada:</label><br>



        <label>Cantidad de Tablas:</label>
        <input type="number" id="cantidadTablas" required><br>

        <label>Cantidad de Tacos:</label>
        <input type="number" id="cantidadTacos" required><br>

        <button type="submit">Guardar</button>
    </form>
</div>
<script src="/app.js">

</script>


</body>
</html>
